In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_8e01ca4d30994b239a53c23104c881fd = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='ng6mKmGtGPTwjl1w-iDYC0hvQW0CDv_bM2qXoyl3oZRL',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_8e01ca4d30994b239a53c23104c881fd.get_object(Bucket='foodimpactcovid-donotdelete-pr-ckuilhhenkqwsg',Key='df_data_exp.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data = pd.read_csv(body)
df_data.head()

,Unnamed: 0,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,...,2.3012,0.7504,4.5,29.8,0.007108,0.000223,0.000907,0.005978,38042000.0,%
1,1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,...,2.8244,2.7508,22.3,6.2,0.027817,0.001085,0.018579,0.008153,2858000.0,%
2,2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,...,5.7638,2.0457,26.6,3.9,0.010307,0.001067,0.004460,0.004780,43406000.0,%
3,3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,...,4.2741,0.3525,6.8,25,0.000111,0.000006,0.000035,0.000070,31427000.0,%
4,4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,...,4.6904,1.2960,19.1,NaN,0.025773,0.003093,0.015464,0.007216,97000.0,%

First remove the index column.

In [2]:
df_data=df_data.drop(columns=['Unnamed: 0',])
df_data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,2.4512,...,2.3012,0.7504,4.5,29.8,0.007108,0.000223,0.000907,0.005978,38042000.0,%
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,9.9441,...,2.8244,2.7508,22.3,6.2,0.027817,0.001085,0.018579,0.008153,2858000.0,%
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,3.9869,...,5.7638,2.0457,26.6,3.9,0.010307,0.001067,0.004460,0.004780,43406000.0,%
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,0.5067,...,4.2741,0.3525,6.8,25,0.000111,0.000006,0.000035,0.000070,31427000.0,%
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,4.6904,...,4.6904,1.2960,19.1,NaN,0.025773,0.003093,0.015464,0.007216,97000.0,%

Initially, let us decide the total percentge of poputlation confirmed to be affected as a metric to decide the spread of virus in respective country.Hence other columns related to the spread of virus like percentage of deaths,percentage of recovered population and recovered population can be ommited.Also as the metric is in percentage of population the actual population is not needed.

In [3]:
df_data=df_data.drop(columns=['Deaths', 'Recovered','Active','Population'])
df_data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,...,Stimulants,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Unit (all except Population)
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,2.4512,...,0.0750,2.2261,0.1251,45.2476,2.3012,0.7504,4.5,29.8,0.007108,%
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,9.9441,...,0.2501,3.4422,0.3972,33.9070,2.8244,2.7508,22.3,6.2,0.027817,%
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,3.9869,...,0.1493,3.9869,0.2240,43.9749,5.7638,2.0457,26.6,3.9,0.010307,%
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,0.5067,...,0.0441,2.7539,0.0000,45.3184,4.2741,0.3525,6.8,25,0.000111,%
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,4.6904,...,0.4937,5.8218,0.0823,34.6225,4.6904,1.2960,19.1,NaN,0.025773,%

Now that population column is dropped, all the units are in pencentage. The unit column also can be dropped.

In [4]:
df_data=df_data.drop(columns=['Unit (all except Population)'])
df_data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,...,Starchy Roots,Stimulants,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,2.4512,...,0.3252,0.0750,2.2261,0.1251,45.2476,2.3012,0.7504,4.5,29.8,0.007108
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,9.9441,...,1.2651,0.2501,3.4422,0.3972,33.9070,2.8244,2.7508,22.3,6.2,0.027817
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,3.9869,...,1.9262,0.1493,3.9869,0.2240,43.9749,5.7638,2.0457,26.6,3.9,0.010307
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,0.5067,...,12.6239,0.0441,2.7539,0.0000,45.3184,4.2741,0.3525,6.8,25,0.000111
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,4.6904,...,0.8434,0.4937,5.8218,0.0823,34.6225,4.6904,1.2960,19.1,NaN,0.025773

The column "Undernourished" contains some NA entries and also some like"<2.5".For the analysis of type of food items affecting virus spread this information about undernourished population is irrelevent and so the data about percentage of "obesity". These columna can also be dropped.

In [5]:
df_data=df_data.drop(columns=['Undernourished','Obesity'])
df_data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,Offals,Pulses,Starchy Roots,Stimulants,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Confirmed
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,2.4512,0.1251,0.5003,0.3252,0.0750,2.2261,0.1251,45.2476,2.3012,0.7504,0.007108
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,9.9441,0.2648,0.8091,1.2651,0.2501,3.4422,0.3972,33.9070,2.8244,2.7508,0.027817
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,3.9869,0.0597,1.0900,1.9262,0.1493,3.9869,0.2240,43.9749,5.7638,2.0457,0.010307
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,0.5067,0.1102,1.4981,12.6239,0.0441,2.7539,0.0000,45.3184,4.2741,0.3525,0.000111
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,4.6904,0.1646,0.4526,0.8434,0.4937,5.8218,0.0823,34.6225,4.6904,1.2960,0.025773

Fill NaN with 0 in confirmed column.

In [6]:
df_data=df_data.fillna(0)

Lets get the corelation between different food types and the percentage of confirmed virus cases in a country.

In [7]:
cor=df_data[df_data.columns[1:]].corr()['Confirmed'][:-1]

In [8]:
print(cor)

Alcoholic Beverages         0.443134
Animal Products             0.505922
Animal fats                 0.441458
Cereals - Excluding Beer   -0.420764
Eggs                        0.399758
Fish, Seafood               0.142586
Fruits - Excluding Wine     0.014340
Meat                        0.331500
Milk - Excluding Butter     0.446405
Offals                     -0.007588
Pulses                     -0.243385
Starchy Roots              -0.193748
Stimulants                  0.420928
Sugar & Sweeteners          0.171938
Treenuts                    0.339232
Vegetal Products           -0.505996
Vegetable Oils              0.254741
Vegetables                  0.138319
Name: Confirmed, dtype: float64

From this we can see that columns "Fruits - Excluding Wine" and "Offals" are nearly unrelated and we can drop them.

In [9]:
df_data=df_data.drop(columns=['Fruits - Excluding Wine','Offals'])
df_data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Meat,Milk - Excluding Butter,Pulses,Starchy Roots,Stimulants,Sugar & Sweeteners,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Confirmed
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.2006,2.4512,0.5003,0.3252,0.0750,2.2261,0.1251,45.2476,2.3012,0.7504,0.007108
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8688,9.9441,0.8091,1.2651,0.2501,3.4422,0.3972,33.9070,2.8244,2.7508,0.027817
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,1.2543,3.9869,1.0900,1.9262,0.1493,3.9869,0.2240,43.9749,5.7638,2.0457,0.010307
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.9302,0.5067,1.4981,12.6239,0.0441,2.7539,0.0000,45.3184,4.2741,0.3525,0.000111
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,7.0356,4.6904,0.4526,0.8434,0.4937,5.8218,0.0823,34.6225,4.6904,1.2960,0.025773

We can use this dataframe for further analysis.

In [10]:
from project_lib import Project
project = Project(None,"c056f2d3-544e-4849-8506-d7043d75e9bf","p-570136fe3e84bad2e1f0be791f946d578e079b2c")

project.save_data(file_name = "df_etl.csv",data = df_data.to_csv(index=False),overwrite=True)

{'file_name': 'df_etl.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'foodimpactcovid-donotdelete-pr-ckuilhhenkqwsg',
 'asset_id': '21bef3b3-75be-4719-baae-34ee8d3588d2'}